/*Colors, mixins, variables*/
/*Styles*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 12px;
  font-family: Spartan;
}

body {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header {
  position: absolute;
  height: 110px;
  width: 100%;
  z-index: 1;
}

.header__logo {
  margin: 4rem auto 0;
  display: block;
}

.header__button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  background-image: url("images/icon-hamburger.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 3.75rem;
  left: 2rem;
}

.header .nav {
  position: absolute;
  bottom: 9.5rem;
  width: 100%;
  background-color: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  padding-left: 20%;
}

.header .nav__links a {
  text-decoration: none;
  color: black;
}

.header .nav__button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  background-image: url("images/icon-close.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 3.75rem;
  left: 2rem;
}

.header .nav--active {
  bottom: 0;
  -webkit-box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

.slideshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slideshow__slidesCarousel {
  overflow: hidden;
}

.slideshow__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slideshow__slides img {
  max-width: 100%;
}

.slideshow__slide--desktop {
  display: none;
}

.slideshow__buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  bottom: 56px;
}

.slideshow__button {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18% 33%;
  border: 0;
  width: 56px;
  height: 56px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slideshow__button--prev {
  background-image: url("images/icon-angle-left.svg");
}

.slideshow__button--next {
  background-image: url("images/icon-angle-right.svg");
}

.slideshow__button:hover {
  background-color: #454545;
}

.slideshow__articlesCarousel {
  overflow: hidden;
}

.slideshow__articles {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slideshow__article {
  min-width: 100vw;
  margin: 3rem 0 6rem;
}

.slideshow__article h1 {
  font-size: 2rem;
  width: 84%;
  margin: 0 auto;
}

.slideshow__article p {
  color: #a1a1a1;
  font-size: 1rem;
  line-height: 1.6;
  width: 84%;
  margin: 1.5rem auto 4.5rem;
}

.slideshow__article a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
  width: 84%;
  margin: 0 auto;
}

.slideshow__article a:hover {
  color: #a1a1a1;
}

.slideshow__article a:hover svg {
  fill: #a1a1a1;
}

.slideshow__article a svg {
  margin-left: 3rem;
  fill: "#000";
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.about__image img {
  max-width: 100%;
  display: block;
}

.about__text {
  margin: 5rem auto;
  width: 84%;
}

.about__text h2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.3rem;
}

.about__text p {
  color: #a1a1a1;
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 1.6rem;
}

.footer {
  position: absolute;
  width: 100%;
  text-align: center;
  color: black;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer a {
  text-decoration: none;
  color: #454545;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer a:hover {
  color: #a1a1a1;
}

/*Desktop version*/
@media only screen and (min-width: 376px) {
  .header {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 110px;
    width: 35%;
  }
  .header__logo {
    margin: 4rem 0 0 12%;
    display: block;
    height: 15px;
  }
  .header__button {
    display: none;
  }
  .header .nav {
    position: static;
    background-color: transparent;
  }
  .header .nav__links {
    padding-left: 10px;
    padding-top: 8px;
    position: relative;
  }
  .header .nav__links a {
    color: white;
  }
  .header .nav__links a:hover .nav__linkUnderline {
    background-color: white;
  }
  .header .nav__linkUnderline {
    width: 50%;
    height: 2px;
    margin: 6px auto 0;
  }
  .header .nav__button {
    display: none;
  }
  .header .nav__overlay {
    display: none;
  }
  .slideshow {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .slideshow__slidesCarousel {
    overflow: hidden;
    min-width: 840px;
  }
  .slideshow__slides {
    max-width: 840px;
  }
  .slideshow__slide--mobile {
    display: none;
  }
  .slideshow__slide--desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slideshow__buttons {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -ms-flex-item-align: end;
        align-self: flex-end;
    bottom: auto;
    left: 840px;
  }
  .slideshow__articlesCarousel {
    overflow: hidden;
  }
  .slideshow__articles {
    width: calc(100vw - 840px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slideshow__article {
    min-width: 100%;
    margin: 10rem 0 auto;
  }
  .slideshow__article h1 {
    font-size: 2.75rem;
    width: 70%;
    margin: 0 auto;
  }
  .slideshow__article p {
    color: #a1a1a1;
    font-size: 1rem;
    line-height: 1.6;
    width: 70%;
    margin: 2rem auto 3.5rem;
  }
  .slideshow__article a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1rem;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    display: block;
    width: 70%;
    margin: 0 auto;
  }
  .slideshow__article a:hover {
    color: #a1a1a1;
  }
  .slideshow__article a:hover svg {
    fill: #a1a1a1;
  }
  .slideshow__article a svg {
    margin-left: 3rem;
    fill: "#000";
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about__image img {
    max-width: none;
  }
  .about__text {
    margin: 6rem auto auto;
  }
}
/*# sourceMappingURL=style.css.map */